<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

</head>
<body>

    <div id="page" class="site page-cart">

        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/"><span class="circle"></span>.D11Store</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>

        <header>
            <!--Responsive div, não mexer-->
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">   
                    </div>
                </div>
            </div>

            <!-- header-top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/"><span class="circle"></span>.D11Store</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="#">About</a></li>

                                   
                                    <li class="has-child">
                                        <a href="#">Categories
                                            <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                        </a>
                                        <div class="mega">
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Departments</h4>
                                                            <ul>
                                                                <% results1.forEach(result => { %>
                                                                    <li><a href="/page-category/<%= result.id %>"><%= result.name_depart%></a></li>
                                                                <% }); %>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Sub-Departments</h4>
                                                            <ul>
                                                                <% results2.forEach(result => { %>
                                                                    <li><a href="/page-sub_category/<%= result.id %>"><%= result.name_sub_depart%></a></li>
                                                                <% }); %>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Services</h4>
                                                            <ul>
                                                                <li><a href="#">Clothing Production</a></li>
                                                                <li><a href="#">Network Optimization</a></li>
                                                                <li><a href="#">3D Priting</a></li>
                                                                <li><a href="#">Interior Design</a></li>
                                                                <li><a href="#">Crops Optimization</a></li>
                                                                <li><a href="#">Pet Grooming</a></li>
                                                                <li><a href="#">Sport Management Software</a></li>
                                                                <li><a href="#">Transportation</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Top Brands</h4>
                                                            <ul class="row">
                                                                <% results3.forEach(result => { %>
                                                                    <li><a href="#"><%= result.company_name%></a></li>
                                                                <% }); %>
                                                                
                                                            </ul>
                                                            <a href="#" class="view-all">View all companies<i class="ri-arrow-right-line"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol products">
                                                        <div class="row">
                                                            <div class="media">
                                                                <div class="thumbnail object-cover">
                                                                    <a href="#">
                                                                        <img src="/assets/menu/menu_homeinterior.jpg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="text-content">
                                                                <h4>B2B Solutions!</h4>
                                                                <a href="#" class="primary-button">Check Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>

                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                    <div class="icon-large"><i class="ri-user-line"></i></div>
                                </a></li>
                                
                                <li class="mobile-hide"><a href="#">
                                    <div class="icon-large"><i class="ri-heart-line"></i></div>
                                    <div class="fly-item"><span class="item-number">0</span></div>
                                </a></li>

                                <li class="iscart"><a href="#">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number"><%= totalProductsCart %></span></div>
                                    </div>
                                    
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total"><%= subtotalCart.toFixed(2) %> €</div>
                                    </div>
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM do header-top -->

            <!-- header-main -->
            <!-- parte principal do site -->
            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="dpt-cat">
                                <div class="dpt-head">
                                    <div class="main-text">All Departments</div>
                                    <div class="mini-text mobile-hide">Total <%= totalProducts %> Products</div>
                                    <a href="#" class="dpt-trigger mobile-hide">
                                        <i class="ri-menu-3-line ri-xl"></i>
                                        <i class="ri-close-line ri-xl"></i>
                                    </a>
                                </div>

                                <div class="dpt-menu">
                                    <ul class="second-links">
                                        <% departments.forEach(department => { %>
                                            <li class="has-child <%= department.name.toLowerCase().replace(/[\s&]/g, '') %>">
                                                <a href="/page-category/<%= department.id %>">
                                                    <div class="icon-large"><i class="<%= department.icon %>"></i></div>
                                                    <%= department.name %>
                                                    <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                                </a>
                                                <ul>
                                                    <% department.subDepartments.forEach(subDepartment => { %>
                                                        <li><a href="/page-sub_category/<%= subDepartment.id %>"><%= subDepartment.name %></a></li>
                                                    <% }); %>
                                                </ul>
                                            </li>
                                        <% }); %>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="right">
                            <div class="search-box">
                                <form action="" class="search">
                                    <span class="icon-large"><i class="ri-search-line"></i></span>
                                    <input type="search" placeholder="Search for products">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- FIM do header -->

        <main>
            <div class="single-cart">
                <div class="container">
                    <div class="wrapper">
                        <div class="breadcrumb">
                            <ul class="flexitem">
                                <li><a href="#">Home</a></li>
                                <li>Cart</li>
                            </ul>
                        </div>
                        <div class="page-title">
                            <h1>Shopping Cart</h1>
                        </div>
                        <div class="products one cart">
                            <div class="flexwrap">
                                <form id="checkout-form" action="/update-cart-and-checkout" method="POST">
                                    <div class="form-cart">
                                        <div class="item">
                                            <table id="cart-table">
                                                <thead>
                                                    <tr>
                                                        <th>Item</th>
                                                        <th>Price</th>
                                                        <th>Qty</th>
                                                        <th>Total Order</th>
                                                        <th>Subtotal</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% let subtotal = 0; %>
                                                    <% results6.forEach(result => { %>
                                                        <% let itemSubtotal = (result.price * result.min_order) * result.quantity; %>
                                                        <% subtotal += itemSubtotal; %>
                                                        <tr>
                                                            <td class="flexitem">
                                                                <div class="thumbnail object-cover">
                                                                    <a href="#"><img src="/assets/empresas_img/<%= result.main_img %>" alt=""></a>
                                                                </div>
                                                                <div class="content">
                                                                    <strong><a href="#"><%= result.product_name %></a></strong>
                                                                    <input type="hidden" name="product_names[]" value="<%= result.product_name %>">
                                                                    <p>Brand: <%= result.company_name %></p>
                                                                    <p>Min. Order: <%= result.min_order %> un</p>
                                                                </div>
                                                            </td>
                                                            <td id="price_<%= result.product_id %>"><%= result.price.toFixed(2) %> €</td>
                                                            <input type="hidden" name="product_prices[]" value="<%= result.price %>>">
                                                            <td>
                                                                <div class="qty-control flexitem">
                                                                    <button type="button" class="minus" data-product-id="<%= result.product_id %>" onclick="decreaseQuantityItem('<%= result.product_id %>')">-</button>
                                                                    <input type="text" name="quantities[]" value="<%= result.quantity %>" class="input_quantity" id="quantity_<%= result.product_id %>">
                                                                    <input type="hidden" name="productIds[]" value="<%= result.product_id %>">
                                                                    <button type="button" class="plus" data-product-id="<%= result.product_id %>" onclick="increaseQuantityItem('<%= result.product_id %>')">+</button>
                                                                </div>
                                                            </td>
                                                            <td><%= (result.min_order * result.quantity) %> un</td>
                                                            <input type="hidden" name="total_orders[]" value="<%= (result.min_order * result.quantity) %>">
                                                            <td id="subtotal_item_<%= result.product_id %>"><%= itemSubtotal.toFixed(2) %> €</td>
                                                            <td><a href="#" class="item-remove" data-product-id="<%= result.product_id %>"><i class="ri-close-line"></i></a></td>
                                                            <td></td>
                                                        </tr>
                                                    <% }); %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                
                                    <div class="cart-summary styled">
                                        <div class="item">
                                            <div class="shipping-rate collapse">
                                                <div class="has-child expand">
                                                    <a href="#" class="icon-small">Shipping and Tax</a>
                                                    <div class="content">
                                                        <div class="delivery_type">
                                                            <div class="div-cart">
                                                                <label for="delivery_country">Select Delivery Country</label>
                                                                <select name="delivery_country" id="delivery_country">
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="delivery_type">
                                                            <div class="div-cart">
                                                                <label for="delivery_adress">Delivery Address</label>
                                                                <input type="text" id="delivery_adress" name="delivery_adress" placeholder="Address" required>
                                                            </div>
                                                        </div>

                                                        <div class="delivery_speed">
                                                            <div class="div-cart">
                                                                <label for="delivery_speed">Select Delivery Speed</label>
                                                                <select name="delivery_speed" id="delivery_speed" required>
                                                                    <option value="Standart">Standart</option>
                                                                    <option value="Express">Express</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="delivery_type">
                                                            <div class="div-cart">
                                                                <label for="delivery_date">Select Delivery Date</label>
                                                                <input type="text" id="delivery_date" name="delivery_date" placeholder="Select a delivery date" required>
                                                            </div>
                                                        </div>

                                                        <div class="rate-options variant">
                                                            <p>
                                                                <span id="delivery_type" name="delivery_type">Delivery Type: National</span>
                                                                <input type="hidden" id="delivery_type_input" name="delivery_type" value="National">
                                                                <label for="flat" class="circle"></label>
                                                            </p>
                                                            <p>
                                                                <span id="delivery_price">Price: 0.00 €</span>
                                                                <label for="flat" class="circle"></label>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="cart-total">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <th>Subtotal</th>
                                                            <td name="cart_subtotal" id="subtotal"><%= subtotal.toFixed(2) %> €</td>
                                                            <input type="hidden" name="cart_subtotal" id="cart_subtotal_input" value="<%= subtotal.toFixed(2) %>">
                                                        </tr>
                                                        <tr>
                                                            <th>Shipping <span class="mini-text" id="shipping-speed">(Standart)</span></th>
                                                            <td name="cart_shipping_price" id="shipping">0.00 €</td>
                                                            <input type="hidden" name="cart_shipping_price" id="cart_shipping_price_input" value="0.00">
                                                        </tr>
                                                        <tr class="grand-total">
                                                            <th>TOTAL</th>
                                                            <td name="cart_total" id="total"><strong><%= subtotal.toFixed(2) %> €</strong></td>
                                                            <input type="hidden" name="cart_total" id="cart_total_input" value="<%= subtotal.toFixed(2) %>">
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <button type="button" id="checkout-button" class="secondary-button">Checkout</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </main>
        <!-- Fim do main -->

        <!-- Footer -->
        <footer>
            <!-- newsletter -->
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Join Our Newsletter</h3>
                                <p>Get an E-mail about our latest online platform and <strong>special offers</strong></p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-mai-line"></i></span>
                                <input type="email" placeholder="Your email address" required>
                                <button type="submit">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim da newsletter -->

            <!-- widgets -->
            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Help & Contact</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Your Orders</a></li>
                                        <li><a href="#">Shipping Rates</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Assistant</a></li>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Product Categories</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Eletronic</a></li>
                                        <li><a href="#">Women's Fashion</a></li>
                                        <li><a href="#">Men's Fashion</a></li>
                                        <li><a href="#">Girl's Fashion</a></li>
                                        <li><a href="#">Boy's Fashion</a></li>
                                        <li><a href="#">Health & Household</a></li>
                                        <li><a href="#">Home & Kitchen</a></li>
                                        <li><a href="#">Pet Supplies</a></li>
                                        <li><a href="#">Sports</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Payment Info</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Business Card</a></li>
                                        <li><a href="#">Shop with Points</a></li>
                                        <li><a href="#">Reload You Balance</a></li>
                                        <li><a href="#">Paypal</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>About Us</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Company Info</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Investors</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Policies</a></li>
                                        <li><a href="#">Customer reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim dos widgets -->

            <!-- footer info -->
            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href="#"><span class="circle"></span>.D11Store</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
                                    <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">&copy; Copyright 2024 .D11Store. All right reserved.</p>
                    </div>
                </div>
            </div>
            <!-- Fim do footer info -->
        </footer>
        <!-- Fim do footer -->

        <!-- menu bottom fixed -->
        <div class="menu-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <li>
                                <a href="#">
                                    <i class="ri-bar-chart-line"></i>
                                    <span>Trending</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                </a>
                            </li>

                            <li>
                                <a href="#0" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>

                            <li>
                                <a href="#0" class="cart-trigger">
                                    <i class="ri-shopping-cart-line"></i>
                                    <span>Cart</span>
                                    <div class="fly-item">
                                        <span class="item-number">0</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Fim do mwnu bottom fixed -->

        <!-- search bottom -->
        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">

                    <form action="" class="search">
                        <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Your email address" required>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fim do search bottom -->

        <div class="overlay"></div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const deliveryCountrySelect = document.getElementById('delivery_country');

            fetch('/api/countries')
                .then(response => response.json())
                .then(data => {
                    data.forEach(country => {
                        const option = document.createElement('option');
                        option.value = country.name;
                        option.textContent = country.name;
                        deliveryCountrySelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Erro ao carregar os países:', error);
                });
        });
    </script>
</body>
</html>