<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>

</head>
<body>
    <div id="page" class="site page-category">

        <aside class="site-off desktop-hide">
            <div class="off-canvas">
                <div class="canvas-head flexitem">
                    <div class="logo"><a href="/"><span class="circle"></span>.D11Store</a></div>
                    <a href="#" class="t-close flexcenter"><i class="ri-close-line"></i></a>
                </div>
                <div class="departments"></div>
                <nav></nav>
                <div class="thetop-nav"></div>
            </div>
        </aside>

        <header>
            <!--Responsive div, não mexer-->
            <div class="header-top mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">   
                    </div>
                </div>
            </div>
            
            <!-- header-top -->
            <div class="header-nav">
                <div class="container">
                    <div class="wrapper flexitem">
                        <a href="#" class="trigger desktop-hide"><span class="i ri-menu-2-line"></span></a>
                        <div class="left flexitem">
                            <div class="logo"><a href="/"><span class="circle"></span>.D11Store</a></div>
                            <nav class="mobile-hide">
                                <ul class="flexitem second-links">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>

                                   
                                    <li class="has-child">
                                        <a href="#">Categories
                                            <div class="icon-small"><i class="ri-arrow-down-s-line"></i></div>
                                        </a>
                                        <div class="mega">
                                            <div class="container">
                                                <div class="wrapper">
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Departments</h4>
                                                            <ul>
                                                                <% results1.forEach(result => { %>
                                                                    <li><a href="#"><%= result.name_depart%></a></li>
                                                                <% }); %>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Services</h4>
                                                            <ul>
                                                                <li><a href="#">Clothing Production</a></li>
                                                                <li><a href="#">Network Optimization</a></li>
                                                                <li><a href="#">3D Priting</a></li>
                                                                <li><a href="#">Interior Design</a></li>
                                                                <li><a href="#">Crops Optimization</a></li>
                                                                <li><a href="#">Pet Grooming</a></li>
                                                                <li><a href="#">Sport Management Software</a></li>
                                                                <li><a href="#">Transportation</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Business</h4>
                                                            <ul>
                                                                <li><a href="#">Fashion</a></li>
                                                                <li><a href="#">Makeup & Cosmetics</a></li>
                                                                <li><a href="#">Technology</a></li>
                                                                <li><a href="#">Restaurants & Hotels</a></li>
                                                                <li><a href="#">Agriculture</a></li>
                                                                <li><a href="#">Veterinarian & Pet Store</a></li>
                                                                <li><a href="#">Sports Club</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol">
                                                        <div class="row">
                                                            <h4>Top Brands</h4>
                                                            <ul class="row">
                                                                <% results2.forEach(result => { %>
                                                                    <li><a href="#"><%= result.company_name%></a></li>
                                                                <% }); %>
                                                                
                                                            </ul>
                                                            <a href="#" class="view-all">View all companies<i class="ri-arrow-right-line"></i></a>
                                                        </div>
                                                    </div>
                                                    <div class="flexcol products">
                                                        <div class="row">
                                                            <div class="media">
                                                                <div class="thumbnail object-cover">
                                                                    <a href="#">
                                                                        <img src="assets/menu/menu_homeinterior.jpg" alt="">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="text-content">
                                                                <h4>B2B Solutions!</h4>
                                                                <a href="#" class="primary-button">Check Now</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>

                        <div class="right">
                            <ul class="flexitem second-links">
                                <li class="mobile-hide"><a href="#">
                                    <div class="icon-large"><i class="ri-user-line"></i></div>
                                </a></li>
                                
                                <li class="mobile-hide"><a href="#">
                                    <div class="icon-large"><i class="ri-heart-line"></i></div>
                                    <div class="fly-item"><span class="item-number">0</span></div>
                                </a></li>

                                <li class="iscart"><a href="#">
                                    <div class="icon-large">
                                        <i class="ri-shopping-cart-line"></i>
                                        <div class="fly-item"><span class="item-number">0</span></div>
                                    </div>
                                    
                                    <div class="icon-text">
                                        <div class="mini-text">Total</div>
                                        <div class="cart-total">$1.622</div>
                                    </div>
                                </a>

                                <div class="mini-cart">
                                    <div class="content">
                                        <div class="cart-head">
                                            5 items in cart
                                        </div>
                                        <div class="cart-body">
                                            <ul class="products mini">
                                                <li class="item">
                                                    <div class="thumbnail object-cover">
                                                        <a href="#"><img src="assets/products/home2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="item-content">
                                                        <p><a href="#">Dimmable Ceiling Light Modern</a></p>
                                                        <span class="price">
                                                            <span>$279.99</span>
                                                            <span class="fly-item"><span>2x</span>
                                                        </span>
                                                    </div>
                                                    <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                </li>

                                                <li class="item">
                                                    <div class="thumbnail object-cover">
                                                        <a href="#"><img src="assets/products/home2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="item-content">
                                                        <p><a href="#">Modern Storage Cabinet with Door & 3 drwaers</a></p>
                                                        <span class="price">
                                                            <span>$129.99</span>
                                                            <span class="fly-item"><span>1x</span>
                                                        </span>
                                                    </div>
                                                    <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                </li>

                                                <li class="item">
                                                    <div class="thumbnail object-cover">
                                                        <a href="#"><img src="assets/products/home2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="item-content">
                                                        <p><a href="#">Dimmable Ceiling Light Modern</a></p>
                                                        <span class="price">
                                                            <span>$279.99</span>
                                                            <span class="fly-item"><span>2x</span>
                                                        </span>
                                                    </div>
                                                    <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                </li>

                                                <li class="item">
                                                    <div class="thumbnail object-cover">
                                                        <a href="#"><img src="assets/products/home2.jpg" alt=""></a>
                                                    </div>
                                                    <div class="item-content">
                                                        <p><a href="#">Dimmable Ceiling Light Modern</a></p>
                                                        <span class="price">
                                                            <span>$279.99</span>
                                                            <span class="fly-item"><span>2x</span>
                                                        </span>
                                                    </div>
                                                    <a href="#" class="item-remove"><i class="ri-close-line"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="cart-footer">
                                            <div class="subtotal">
                                                <p>Subtotal</p>
                                                <p><strong>$1,622,95</strong></p>
                                            </div>
                                            <div class="actions">
                                                <a href="/cart.html" class="primary-button">Checkout</a>
                                                <a href="/checkout.html" class="secondary-button">View Cart</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM do header-top -->

            <!-- header-main -->
            <!-- parte principal do site -->
            <div class="header-main mobile-hide">
                <div class="container">
                    <div class="wrapper flexitem">
                        <div class="left">
                            <div class="dpt-cat">
                                <div class="dpt-head">
                                    <div class="main-text">All Departments</div>
                                    <div class="mini-text mobile-hide">Total <%= totalProducts %> Products</div>
                                    <a href="#" class="dpt-trigger mobile-hide">
                                        <i class="ri-menu-3-line ri-xl"></i>
                                        <i class="ri-close-line ri-xl"></i>
                                    </a>
                                </div>

                                <div class="dpt-menu">
                                    <ul class="second-links">
                                        <li class="has-child aparel">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-shirt-line"></i></div>
                                                Apparel
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Textiles</a></li>
                                                <li><a href="#">Sustainable Fibers</a></li>
                                                <li><a href="#">Clothing & Acessories</a></li>
                                                <li><a href="#">Clothing Production Services</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child beauty">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-heart-pulse-line"></i></div>
                                                Health & Beauty
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Makeup & Skincare</a></li>
                                                <li><a href="#">Men's Grooming</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child eletric">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-macbook-line"></i></div>
                                                Eletronics & Technology
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Eletronic Components</a></li>
                                                <li><a href="#">Cables</a></li>
                                                <li><a href="#">3D Printing</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child food">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-restaurant-line"></i></div>
                                                Food & Beverages
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Fruits & Vegetables</a></li>
                                                <li><a href="#">Cheese & Dairy</a></li>
                                                <li><a href="#">Meat & Seafood</a></li>
                                                <li><a href="#">Beverages</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child homekit">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-home-8-line"></i></div>
                                                Interior Decor
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Interior Decoration Services</a></li>
                                                <li><a href="#">Office Furniture</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child agriculture">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-seedling-line"></i></div>
                                                Agriculture
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Seeds</a></li>
                                                <li><a href="#">Food Production</a></li>
                                                <li><a href="#">Agro-Technology & Services</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child pet">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-bear-smile-line"></i></div>
                                                Pet Suplies
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Cattle Feed</a></li>
                                                <li><a href="#">Pet Medication</a></li>
                                                <li><a href="#">Products & Equipment</a></li>
                                                <li><a href="#">Pet Grooming</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child sports">
                                            <a href="#">
                                                <div class="icon-large"><i class="ri-basketball-line"></i></div>
                                                Sports
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Training Equipment</a></li>
                                                <li><a href="#">Management Software Sevices</a></li>
                                            </ul>
                                        </li>

                                        <li class="has-child shipping">
                                            <a>
                                                <div class="icon-large"><i class="ri-box-3-line"></i></div>
                                                Shipping & Packaging
                                                <div class="icon-small"><i class="ri-arrow-right-s-line"></i></div>
                                            </a>
                                            <ul>
                                                <li><a href="#">Styrofoam</a></li>
                                                <li><a href="#">Packaging Materials</a></li>
                                                <li><a href="#">Custom Packaging </a></li>
                                                <li><a href="#">Transportation Services</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="right">
                            <div class="search-box">
                                <form action="" class="search">
                                    <span class="icon-large"><i class="ri-search-line"></i></span>
                                    <input type="search" placeholder="Search for products">
                                    <button type="submit">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- FIM do header -->

        <main>

            <div class="single-category">
                <div class="container">
                    <div class="wrapper">
                        <div class="column">
                            <div class="holder">
                                <div class="row sidebar">
                                    <div class="filter">
                                        <div class="filter-block">
                                            <h4>Products</h4>
                                            <ul>
                                                <% results7.forEach(function(result) { %>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="<%= result.sub_departamento_nome %>">
                                                        <label for="<%= result.sub_departamento_nome %>">
                                                            <span class="checked"></span>
                                                            <span><%= result.sub_departamento_nome %></span>
                                                        </label>
                                                        <span class="count"><%= result.total_produtos %></span>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                        </div>

                                        <div class="filter-block">
                                            <h4>Services</h4>
                                            <ul>
                                                <li>
                                                    <input type="checkbox" name="checkbox" id="athletic">
                                                    <label for="athletic">
                                                        <span class="checked"></span>
                                                        <span>Athletic</span>
                                                    </label>
                                                    <span class="count">11</span>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="filter-block">
                                            <h4>Brands</h4>
                                            <ul>
                                                <% results8.forEach(function(result) { %>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="<%= result.company_name %>">
                                                        <label for="<%= result.company_name %>">
                                                            <span class="checked"></span>
                                                            <span><%= result.company_name %></span>
                                                        </label>
                                                        <span class="count"><%= result.total_produtos %></span>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                        </div>

                                        <div class="filter-block">
                                            <h4>Price</h4>
                                            <ul>
                                                <% results9.forEach(function(result) { %>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="price_0_50">
                                                        <label for="price_0_50">
                                                            <span class="checked"></span>
                                                            <span>0€ - 50€</span>
                                                        </label>
                                                        <span class="count"><%= result.total_produtos %></span>
                                                    </li>
                                                <% }); %>

                                                <% results10.forEach(function(result) { %>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="price_50_100">
                                                        <label for="price_50_100">
                                                            <span class="checked"></span>
                                                            <span>50€ - 100€</span>
                                                        </label>
                                                        <span class="count"><%= result.total_produtos %></span>
                                                    </li>
                                                <% }); %>

                                                <% results11.forEach(function(result) { %>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="price_100_150">
                                                        <label for="price_100_150">
                                                            <span class="checked"></span>
                                                            <span>100€ - 150€</span>
                                                        </label>
                                                        <span class="count"><%= result.total_produtos %></span>
                                                    </li>
                                                <% }); %>

                                                <% results12.forEach(function(result) { %>
                                                    <li>
                                                        <input type="checkbox" name="checkbox" id="price_0_50">
                                                        <label for="price_0_50">
                                                            <span class="checked"></span>
                                                            <span>150€ - Max</span>
                                                        </label>
                                                        <span class="count"><%= result.total_produtos %></span>
                                                    </li>
                                                <% }); %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="row">
                                        <div class="cat-head">
                                            <div class="breadcrumb">
                                                <ul class="flexitem">
                                                    <li><a href="#">Home</a></li>
                                                    <li>Food & Beverages</li>
                                                </ul>
                                            </div>
                                            <div class="page-title">
                                                <h1>Food & Beverages</h1>
                                            </div>
                                            <div class="cat-description">
                                                <p>Explore a world of culinary possibilities in our Food & Beverages category. From fresh ingredients to gourmet products, you'll find everything you need to offer your customers memorable dining experiences.</p>
                                            </div>
                                            <div class="cat-navigation flexitem">
                                                <div class="item-filter desktop-hide">
                                                    <a href="#" class="filter-trigger label">
                                                        <i class="ri-menu-2-line ri-2x"></i>
                                                        <span>Filter</span>
                                                    </a>
                                                </div>
                                                <div class="item-sortir">
                                                    <div class="label">
                                                        <span class="mobile-hide">Sort by default</span>
                                                        <div class="desktop-hide">Default</div>
                                                        <i class="ri-arrow-down-s-line"></i>
                                                    </div>
                                                    <ul>
                                                        <li>Default</li>
                                                        <li>Price High to Low</li>
                                                        <li>Price Low to High</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="products main flexwrap">
                                        <!--products category structure-->
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/Fresco Supply/Artisanal Blue Cheese/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(1,955)</span>
                                                </div>
        
                                                <h3><a href="#">Artisinal Blue Cheese</a></h3>
                                                <div class="price">
                                                    <span class="current">20.00€ / kg</span>
                                                </div>

                                                <div class="mini-text">
                                                    <p>By: FrescoSupply</p>
                                                </div>

                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 15kg</li>
                                                        <li>Ready to Ship</li>
                                                        <li>Produced in: Portugal</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/Fresco Supply/Dry-Aged Ribeye Steak/3.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(944)</span>
                                                </div>
        
                                                <h3><a href="#">Dry-Aged Ribeye Steak</a></h3>
                                                <div class="price">
                                                    <span class="current">25€ / kg</span>
                                                </div>

                                                <div class="mini-text">
                                                    <p>By: FrescoSupply</p>
                                                </div>
                                                
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 20kg</li>
                                                        <li>Ready to Ship</li>
                                                        <li>Produce in: Portugal</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/Fresco Supply/Organic Heirloom Tomatoes/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(3,459)</span>
                                                </div>
        
                                                <h3><a href="#">Organic Heirloom Tomatoes</a></h3>
                                                <div class="price">
                                                    <span class="current">$2.99 / kg</span>
                                                </div>
                                                <div class="mini-text">
                                                    <p>By: FrescoSupply</p>
                                                </div>
                                                
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 20kg</li>
                                                        <li>Ready to Ship</li>
                                                        <li>Produce in: Portugal</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/EliteSpirits Distributors/Domaine du Castel Grand Vin 2020/1.png" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(1,955)</span>
                                                </div>
        
                                                <h3><a href="#">Domaine du Castel Grand Vin 2020</a></h3>
                                                <div class="price">
                                                    <span class="current">80.00€</span>
                                                </div>

                                                <div class="mini-text">
                                                    <p>By: EliteSpirits</p>
                                                </div>
                                                
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 12 un</li>
                                                        <li>Ready to Ship</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/EliteSpirits Distributors/Suntory Yamazaki 12 Jahre 100 Anniversary Edition/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(1,955)</span>
                                                </div>
        
                                                <h3><a href="#">Suntory Yamazaki 12 Jahre 100 Anniversary Edition</a></h3>
                                                <div class="price">
                                                    <span class="current">230.00€</span>
                                                </div>
                                                <div class="mini-text">
                                                    <p>By: EliteSpirits</p>
                                                </div>
                                                
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 3 un</li>
                                                        <li>Ready to Ship</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/Maykro/Basmati Rice/1.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(1,955)</span>
                                                </div>
        
                                                <h3><a href="#">Basmati Rice 5kg</a></h3>
                                                <div class="price">
                                                    <span class="current">4.00€</span>
                                                </div>
                                                <div class="mini-text">
                                                    <p>By: Maykro</p>
                                                </div>
                                                
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 30 un</li>
                                                        <li>Ready to Ship</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/Maykro/Beer/2.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(106)</span>
                                                </div>
        
                                                <h3><a href="#">Bear Super Bock 1L</a></h3>
                                                <div class="price">
                                                    <span class="current">1.00€</span>
                                                </div>

                                                <div class="mini-text">
                                                    <p>By: Maykro</p>
                                                </div>
                                                
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 12 un</li>
                                                        <li>Ready to Ship</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
        
                                        <div class="item">
                                            <div class="media">
                                                <div class="thumbnail object-cover">
                                                    <a href="#">
                                                        <img src="assets/comp_img/Maykro/Chicken Breasts/3.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="hoverable">
                                                    <ul>
                                                        <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                                        <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div class="rating">
                                                    <div class="stars">
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                        <i class="ri-star-fill" style="color:orange"></i>
                                                    </div>
                                                    <span class="mini-text">(245)</span>
                                                </div>
        
                                                <h3><a href="#">Chicken Breasts</a></h3>
                                                <div class="price">
                                                    <span class="current">2.50€ / kg</span>
                                                </div>
                                                <div class="mini-text">
                                                    <p>By: Maykro</p>
                                                </div>
                                                
                                                <div class="footer">
                                                    <ul class="mini-text">
                                                        <li>Min. Order: 20kg</li>
                                                        <li>Ready to Ship</li>
                                                        <li>Produced in: Portugal</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="load-more flexcenter">
                                        <a href="#" class="secondary-button">Load more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Banners -->
            <div class="banners">
                <div class="container">
                    <div class="wrapper">
                        <div class="column">
                            <div class="banner flexwrap">
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="assets/banner/banner1.jpg" alt="">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Service!</h4>
                                            <h3><span>Design your business</span><br>Interior design</h3>
                                            <a href="#" class="primary-button">Discover Now</a>
                                        </div>
                                        <a href="#" class="over-link"></a>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="assets/banner/banner3.1.jpg" alt="">
                                        </div>
                                        <div class="text-content flexcol">
                                            <h4>Service!</h4>
                                            <h3><span>Ship your products anywhere</span><br>Transportation Services</h3>
                                            <a href="#" class="primary-button">Discover Now</a>
                                        </div>
                                        <a href="#" class="over-link"></a>
                                    </div>
                                </div>
                            </div>
                            <!--banners-->

                            <div class="product-categories flexwrap">
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="assets/banner/procat1.jpg" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Health & Beauty</h4>
                                            <ul class="flexcol">
                                                <% results4.forEach(result => { %>
                                                    <li><a href="#"><%= result.product_name %></a></li>
                                                <% }); %>
                                            </ul>
                                            <div class="second-links">
                                                <a href="#" class="view-all">View all<i class="ri-arrow-right-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="assets/banner/procat2.jpg" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Eletronics & Technology</h4>
                                            <ul class="flexcol">
                                                <% results5.forEach(result => { %>
                                                    <li><a href="#"><%= result.product_name %></a></li>
                                                <% }); %>
                                            </ul>
                                            <div class="second-links">
                                                <a href="#" class="view-all">View all<i class="ri-arrow-right-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="item">
                                        <div class="image">
                                            <img src="assets/banner/procat3.jpg" alt="">
                                        </div>
                                        <div class="content mini-links">
                                            <h4>Agriculture</h4>
                                            <ul class="flexcol">
                                                <% results6.forEach(result => { %>
                                                    <li><a href="#"><%= result.product_name %></a></li>
                                                <% }); %>
                                            </ul>
                                            <div class="second-links">
                                                <a href="#" id="loadMoreButton" class="view-all">View all<i class="ri-arrow-right-line"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- FIM dos banners -->
        </main>
        <!-- Fim do main -->

        <!-- Footer -->
        <footer>
            <!-- newsletter -->
            <div class="newsletter">
                <div class="container">
                    <div class="wrapper">
                        <div class="box">
                            <div class="content">
                                <h3>Join Our Newsletter</h3>
                                <p>Get an E-mail about our latest online platform and <strong>special offers</strong></p>
                            </div>
                            <form action="" class="search">
                                <span class="icon-large"><i class="ri-mai-line"></i></span>
                                <input type="email" placeholder="Your email address" required>
                                <button type="submit">Sign up</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim da newsletter -->

            <!-- widgets -->
            <div class="widgets">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexwrap">
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Help & Contact</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Your Account</a></li>
                                        <li><a href="#">Your Orders</a></li>
                                        <li><a href="#">Shipping Rates</a></li>
                                        <li><a href="#">Returns</a></li>
                                        <li><a href="#">Assistant</a></li>
                                        <li><a href="#">Help</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Product Categories</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Beauty</a></li>
                                        <li><a href="#">Eletronic</a></li>
                                        <li><a href="#">Women's Fashion</a></li>
                                        <li><a href="#">Men's Fashion</a></li>
                                        <li><a href="#">Girl's Fashion</a></li>
                                        <li><a href="#">Boy's Fashion</a></li>
                                        <li><a href="#">Health & Household</a></li>
                                        <li><a href="#">Home & Kitchen</a></li>
                                        <li><a href="#">Pet Supplies</a></li>
                                        <li><a href="#">Sports</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>Payment Info</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Business Card</a></li>
                                        <li><a href="#">Shop with Points</a></li>
                                        <li><a href="#">Reload You Balance</a></li>
                                        <li><a href="#">Paypal</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="item mini-links">
                                    <h4>About Us</h4>
                                    <ul class="flexcol">
                                        <li><a href="#">Company Info</a></li>
                                        <li><a href="#">News</a></li>
                                        <li><a href="#">Investors</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Policies</a></li>
                                        <li><a href="#">Customer reviews</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fim dos widgets -->

            <!-- footer info -->
            <div class="footer-info">
                <div class="container">
                    <div class="wrapper">
                        <div class="flexcol">
                            <div class="logo">
                                <a href="#"><span class="circle"></span>.D11Store</a>
                            </div>
                            <div class="socials">
                                <ul class="flexitem">
                                    <li><a href="#"><i class="ri-twitter-line"></i></a></li>
                                    <li><a href="#"><i class="ri-facebook-line"></i></a></li>
                                    <li><a href="#"><i class="ri-instagram-line"></i></a></li>
                                    <li><a href="#"><i class="ri-linkedin-line"></i></a></li>
                                    <li><a href="#"><i class="ri-youtube-line"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <p class="mini-text">&copy; Copyright 2024 .D11Store. All right reserved.</p>
                    </div>
                </div>
            </div>
            <!-- Fim do footer info -->
        </footer>
        <!-- Fim do footer -->

        <!-- menu bottom fixed -->
        <div class="menu-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">
                    <nav>
                        <ul class="flexitem">
                            <li>
                                <a href="#">
                                    <i class="ri-bar-chart-line"></i>
                                    <span>Trending</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ri-user-6-line"></i>
                                    <span>Account</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="ri-heart-line"></i>
                                    <span>Wishlist</span>
                                </a>
                            </li>

                            <li>
                                <a href="#0" class="t-search">
                                    <i class="ri-search-line"></i>
                                    <span>Search</span>
                                </a>
                            </li>

                            <li>
                                <a href="#0" class="cart-trigger">
                                    <i class="ri-shopping-cart-line"></i>
                                    <span>Cart</span>
                                    <div class="fly-item">
                                        <span class="item-number">0</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Fim do mwnu bottom fixed -->

        <!-- search bottom -->
        <div class="search-bottom desktop-hide">
            <div class="container">
                <div class="wrapper">

                    <form action="" class="search">
                        <a href="#" class="t-close search-close flexcenter"><i class="ri-close-line"></i></a>
                        <span class="icon-large"><i class="ri-search-line"></i></span>
                        <input type="search" placeholder="Your email address" required>
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Fim do search bottom -->

        <div class="overlay"></div>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fslightbox/3.3.1/index.js"></script>
    <script src="script.js"></script>
    <script>
        const FtoShow = '.filter';
        const Fpopup = document.querySelector(FtoShow);
        const Ftrigger = document.querySelector('.filter-trigger');

        Ftrigger.addEventListener('click', () => {
            setTimeout(() => {
                if(!Fpopup.classList.contains('show')){
                    Fpopup.classList.add('show')
                }
            }, 250)
        })

        //auto close by click outside .filter
        document.addEventListener('click', (e) => {
            const isClosest = e.target.closest(FtoShow);
            if(!isClosest && Fpopup.classList.contains('show')){
                Fpopup.classList.remove('show')
            }
        })
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', async () => {
            let offset = 18; // Começa depois dos primeiros 18 produtos
            const loadMoreButton = document.getElementById('loadMoreButton');
            const productsContainer = document.querySelector('.flexwrap');
    
            loadMoreButton.addEventListener('click', async () => {
                try {
                    const response = await fetch(`/load-more-products?offset=${offset}`);
                    const products = await response.json();
    
                    // Criar três divs para as linhas de produtos
                    for (let i = 0; i < 3; i++) {
                        const rowDiv = document.createElement('div');
                        rowDiv.classList.add('row', 'products', 'mini');
    
                        // Adicionar produtos à linha atual
                        for (let j = 0; j < 6 && (i * 6 + j) < products.length; j++) {
                            const product = products[i * 6 + j];
                            const productHtml = `
                                
                                <div class="media">
                                    <div class="thumbnail object-cover">
                                        <a href="#">
                                            <img src="${product.main_img}" alt="">
                                        </a>
                                    </div>
                                    <div class="hoverable">
                                        <ul>
                                            <li class="active"><a href="#"><i class="ri-heart-line"></i></a></li>
                                            <li><a href="#"><i class="ri-shuffle-line"></i></a></li>
                                        </ul>
                                    </div>
                                    ${product.is_promotion ? `<div class="discount circle flexcenter"><span>${product.discount_percentage}%</span></div>` : ''}
                                </div>
                                <div class="content">
                                    <h3 class="main-links"><a href="#">${product.product_name}</a></h3>
                                    <div class="rating">
                                        <div class="stars">
                                            <i class="ri-star-fill" style="color:orange"></i>
                                            <i class="ri-star-fill" style="color:orange"></i>
                                            <i class="ri-star-fill" style="color:orange"></i>
                                            <i class="ri-star-fill" style="color:orange"></i>
                                            <i class="ri-star-fill" style="color:orange"></i>
                                        </div>
                                        <span class="mini-text">(2,548)</span>
                                    </div>
                                    <div class="price">
                                        <span class="current">${product.is_promotion ? product.formatted_promotion_price : product.formatted_price}${product.price_symbol}</span>
                                        ${product.is_promotion ? `<span class="normal mini-text">${product.formatted_price}${product.price_symbol}</span>` : ''}
                                    </div>
                                    <div class="mini-text">
                                        <p>Min. Order: ${product.min_order} un</p>
                                        <p>${product.stock > product.min_order ? 'Ready to Ship' : 'Out of Stock'}</p>
                                        <p class="brand-info">By: ${product.company_name}</p>
                                    </div>
                                </div>  
                            `;
    
                            const productDiv = document.createElement('div');
                            productDiv.classList.add('item');
                            productDiv.innerHTML = productHtml;
                            rowDiv.appendChild(productDiv);
                        }
    
                        // Adicionar a linha ao contêiner de produtos
                        productsContainer.appendChild(rowDiv);
                    }
    
                    offset += 18; // Incrementa o offset para a próxima requisição
                } catch (error) {
                    console.error('Erro ao carregar mais produtos:', error);
                }
            });
        });
    </script>
</body>
</html>
